<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lab2_Tutorials_10_4.My.MySettings.CompanyConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;\\ahome14\15006664$\My Documents\Visual Studio 2015\Projects\Todd_Pidgeon_Lab2_CH10_Tutorials\Lab2_Tutorials_10-1\Company.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>