<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="jokes_dbConnectionString" connectionString="server=ait.saultcollege.ca;user id=tpigeon;password=15006664;database=jokes_db"
            providerName="MySql.Data.MySqlClient" />
        <add name="jokes_dbConnectionString2" connectionString="server=ait.saultcollege.ca;user id=tpigeon;password=15006664;persistsecurityinfo=True;database=jokes_db"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
